---
downloads: ~/.ansible-downloads/

configure_python: true
configure_dotfiles: false
configure_terminal: true
configure_osx: false
configure_sublime: false

# Set to 'true' to configure the Dock via dockutil.
configure_dock: true
dockitems_remove:
  - Launchpad
  - TV
  - Podcasts
  - 'App Store'
  - FaceTime
  - Calendar
  - Contacts
  - Notes
  - Reminders
  - News
  - Maps
  - Mail
  - Photos
dockitems_persist:
  - name: "Visual Studio Code"
    path: "/Applications/Visual Studio Code.app/"
    pos: 1
  - name: "Notion"
    path: "/Applications/Notion.app/"
  - name: "zoom.us"
    path: "/Applications/zoom.us.app/"
  - name: "Postman"
    path: "/Applications/Postman.app/"
  - name: "Docker"
    path: "/Applications/Docker.app/"
  - name: "Google Chrome"
    path: "/Applications/Google Chrome.app/"
  - name: "Slack"
    path: "/Applications/Slack.app/"

configure_sudoers: true
sudoers_custom_config: |
  # Allow users in admin group to use sudo with no password.
  %admin ALL=(ALL) NOPASSWD: ALL

dotfiles_repo: https://github.com/geerlingguy/dotfiles.git
dotfiles_repo_accept_hostkey: true
dotfiles_repo_local_destination: ~/Development/GitHub/dotfiles
dotfiles_files:
  - .zshrc
  - .gitignore
  - .inputrc
  - .osx
  - .vimrc

homebrew_installed_packages:
  - autoconf
  - autojump
  - automake
  - awscli
  - bash-completion
  - cloc
  - coreutils
  - cowsay
  - doxygen
  - enchant
  - exiftool
  - fd
  - fdupes
  - ffmpeg
  - freetype
  - fswatch
  - gdbm
  - gettext
  - gifsicle
  - git
  - git-delta
  - github/gh/gh
  - go
  - gpg
  - graphicsmagick
  - heroku
  - hyperfine
  - inetutils
  - iperf
  - jpeg
  - jpegoptim
  - jq
  - lesspipe
  - libevent
  - libffi
  - libmemcached
  - libpng
  - { name: libpq, install_options: build-from-source }
  - libtool
  - libyaml
  - mcrypt
  - memcached
  - myrepos
  - ncdu
  - neovim
  - nginx
  - nmap
  - node
  - nvm
  - openblas
  - openssl
  - ossp-uuid
  - pandoc
  - parallel
  - pkg-config
  - postgresql
  - pre-commit
  - pv
  - pwgen
  - pyenv
  - qpdf
  - readline
  - redis
  - rsync
  - sd
  - shellcheck
  - sqlite
  - sqlite3
  - ssh-copy-id
  - starship
  - tcl-tk
  - tree
  - watch
  - watchman
  - wget
  - wrk
  - xz
  - zlib
  - zsh-completions
  - zsh-history-substring-search

homebrew_taps:
  - heroku/brew
  - homebrew/core
  - homebrew/cask

homebrew_cask_accept_external_apps: true
homebrew_cask_appdir: /Applications
homebrew_cask_apps:
  - chromedriver
  - docker
  - dropbox
  - firefox
  - google-chrome
  - licecap
  - moom
  - notion
  - postman
  - sequel-ace
  - slack
  - visual-studio-code
  - zoom

# See `geerlingguy.mas` role documentation for usage instructions.
mas_installed_apps: []
mas_email: ""
mas_password: ""

osx_script: "~/.osx --no-restart"

# Install packages from other package managers.
# Note: You are responsible for making sure the required package managers are
# installed, eg. through homebrew.
composer_packages: []
# - name: drush
#   state: present # present/absent, default: present
#   version: "^8.1" # default: N/A
gem_packages: []
# - name: bundler
#   state: present # present/absent/latest, default: present
#   version: "~> 1.15.1" # default: N/A
npm_packages: []
# - name: webpack
#   state: present # present/absent/latest, default: present
#   version: "^2.6" # default: N/A
pip_packages: []
# - name: mkdocs
#   state: present # present/absent/latest, default: present
#   version: "0.16.3" # default: N/A

# Set to 'true' to configure Sublime Text.
configure_sublime: false

#  ( git clone https://github.com/tvd0x2a/redislite --branch m1-support ../redislite-m1-support && cd ../redislite-m1-support && python setup.py install ) 
# Glob pattern to ansible task files to run after all other tasks are finished.
post_provision_tasks: []
