source "{{ pyenvrc_path }}"

python() {
	local interpreter
	interpreter="$(pyenv which python)"
	eval "$command $@"
}

export PATH="{{ ansible_env.HOME }}/.local/bin:$PATH"
eval "$(starship init zsh)"
