{
    "editor.fontFamily": "Fira Code Retina",
    "editor.fontLigatures": true,
    "terminal.integrated.fontFamily": "Fira Code Retina",
    "vscode-neovim.neovimExecutablePaths.darwin": "{{ neovim_path }}",
    "workbench.colorTheme": "Dracula",
}
